---
---

:root {
  --black: #333;
}

body {
  font-family: 'Inter','ss',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 400;

  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig", "frac";
  -webkit-font-feature-settings: "liga", "clig", "frac";
  font-feature-settings: "liga", "clig", "frac";

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;

  overflow-x: hidden;

  transition: all .2s ease;

  color: var(--black);
}

/* inter metrics */

.f5 {
  font-size: 17px;
  letter-spacing: -0.01em;
}

.f4 {
  letter-spacing: -0.014em;
}

.f3 {
  letter-spacing: -0.016em;
}

.black {
  color: var(--black) !important;
}

a:link, a:visited { transition: color .15s ease-in; }
a:hover { transition: color .15s ease-in; color: #777;}
a:active { transition: color .15s ease-in; }
a:focus {outline: none;}

.postBody h1, .postBody h2, .postBody h3, .postBody h4 {
	font-weight: 400;
}

.postBody {
  a {
    box-shadow: inset 0 -1px 0;
    text-decoration: none;
    color: #555;

    :hover {
      transition: color .15s ease-in;
      color: #777;
    }
  }

  h2 {
    font-size: 1em;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;

    margin-top: 2rem;
  }

  p {
    /* measure */
    max-width: 35em;

    margin-left: auto;
    margin-right: auto;

    strong {
      font-weight: 500;
    }
  }

  blockquote {
    p {
      max-width: 32rem;
    }
  }

  figure {
    margin-left: auto;
    margin-right: auto;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    p {
      max-width: none;
    }
  }

  .footnote {
    font-variant-position: super;
    -moz-font-feature-settings: "sups";
    -webkit-font-feature-settings: "sups";
    font-feature-settings: "sups";

    box-shadow: none;
    font-size: 0.8em;
  }

  iframe.spotify {
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: block;
  }
}

/*prevent drag*/
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

figure  {
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
  }
}

/*inspired by github*/
blockquote {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;

  max-width: 30rem;
  padding: 0;
  color: #777; /*gray*/
  border-left: 3px solid rgba(0,0,0,0.05);
  border-color: #ccc;
  /*used to be 0.25em*/


  padding-left: 1.2rem;
	/*padding-right: 1rem;*/
}

.inline-footnote a {
  color: inherit;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr {
  border-style: solid;
  border-bottom: none;
  border-width: 1px;

  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 3.5rem;
  color: #ccc;
}

.emdash::before, .emdash::after {
  content: " ";
}

.src figcaption {
  margin-top: -3rem;
  margin-right: 0.6rem;
  color: white;
  opacity: 0.8;
  text-align: right;
  font-size: 0.8em;
}

.leftCaption figcaption {
  margin-top: -1rem;
  font-size: 0.9em;
  color: #777;
}

.caps {
  // letter-spacing: 0.03rem;
  font-feature-settings: "cpsp";
  letter-spacing: 0;
}

.tabular {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

#livePic {
  position: sticky;
  position: -webkit-sticky;
  /* margin-top: 2rem; */
  top: 2rem;
}
