---
layout: compress.html
---

#titleBar {
	padding-bottom: 1.2rem;
}

#thisBody {
	margin-top: 1.5rem;
}

#thisBody {
	margin-right: var(--rightMargin);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#thisBody p {
	line-height: 1.4;
  /*max-width: 35rem;*/
	max-width: 30rem;
	color: rgba(0,0,0,0.6);
}

#thisBody h2 p {
  margin-bottom: 0;
}

#thisBody .tag {
  color: rgba(0,0,0,0.4);
}