---
layout: default
isIndex: true
---
{% assign post = site.posts.first %}

{% if post.layout == 'post' %}
	{% include show_post.html myPost=post %}
{% endif %}

{% if post.layout == 'this' %}
	{% include show_this.html myPost=post %}
{% endif %}

{% include footer.html myPost=post %}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
