<header class="db w-100 relative" id="nav">
	
	<div class="dib titlePad">
		<a class="link" href="/">
			<img src="{{site.baseurl}}/images/logo_white.svg" id="logo" class="link dim fl">
		</a>
	</div>

	

  	<div id="navWrapper" class="cf dib">	
		<div id="hamWrapper">
			<img src="{{site.baseurl}}/images/hamburger.svg" id="hamburger" class="link v-mid fr dim">
			<!-- <img src="{{site.baseurl}}/images/close.svg" id="close" class="link v-mid fr show"> -->
		</div>
	</div>

	<div id="menuWrapper">
		<div id="menu">

			<a class="link" href="/">
				<img src="{{site.baseurl}}/images/logo_white.svg" id="menuLogo" class="link dim">
			</a>
			<h1 class="f3 fg-semibold white lh-solid mb0 mt4-ns mt3 pt0-ns pt2">steakscience</h1>
			<p class="ideal-book f4 white-60 mt0 mw6">A blog about technology, design, and culture. Probably off-topic.</p>

			<!-- white line -->
			<div class="bt b--white-20 bw1 w-100 menuLine"></div>

			<!-- links -->
			<ul class="list pl0">
				{% for nav-links in site.data.nav-links %}
				<li class="mb4 f4 fg-medium"><a href="{{nav-links.href}}" class="white-80 hover-white-60">{{nav-links.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>


</header>