{% include title_bar.html %}

<!-- left strip -->
<div class="bg-mid" id="leftStrip">
</div>

<!-- article wrap -->
<article id="articleWrapper" class="">
	{% if include.myPost.hero_vid %}
		<video class="pb2 mh0 w-100" id="heroVid" width=100% autoplay="autoplay" muted poster="{{include.myPost.image}}">
			<source src="{{include.myPost.hero_vid}}" type="video/mp4" />
		</video>

	{% else %}
		<figure id="heroImg"><img class="" src="{{include.myPost.image}}" />
		{% if include.myPost.caption %}
		  <figcaption class="heroCaption pb2">{{include.myPost.caption}}</figcaption>
		  {% endif %}
		</figure>

	{% endif %}

	<section class="db f4-ns f5 lh-copy black-70 cf" id="postBody" itemprop="articleBody">

		{{include.myPost.content | widont | jt_caps | jt_emdash}}

	</section>
	

</article>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
crossorigin="anonymous">
</script>