{% include title_bar.html %}

<link rel="stylesheet" property="stylesheet" href="/css/this.css">

<!-- article wrap -->
<article class="db f5 lh-copy black mt3-ns mt2" id="thisBody" itemprop="articleBody" style="margin-bottom: -2rem;">

	{{include.myPost.content | widont | jt_caps | jt_emdash}}

</article>
	



<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
crossorigin="anonymous"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</script>