{% include title_bar.html %}

<!-- article wrap -->
<div class="db w-100 center mt3">
	{% if include.myPost.hero_vid %}
		<video class="w-100" width=100% autoplay="autoplay" muted poster="{{include.myPost.image}}">
			<source src="{{include.myPost.hero_vid}}" type="video/mp4" />
		</video>

	{% else %}
		<figure id="heroImg" class="w-100 ma0"><img class="w-100" src="{{include.myPost.image}}" />
		{% if include.myPost.caption %}
		  <figcaption class="heroCaption pb2">{{include.myPost.caption}}</figcaption>
		  {% endif %}
		</figure>

	{% endif %}

	<section class="postBody mt1-ns mt0 pt2-ns pt0" itemprop="articleBody">

		{{include.myPost.content | widont | jt_caps | jt_emdash | hyphenate | replace: '&amp;amp;', '&amp;' }}

	</section>
	

</div>
