{% for i in site.data.this.[page.thisID].item %}
<div class="w-100 db mb0 cf pb2 mb2 bb b--moon-gray thisItem">
	<div class="v-top dib-ns db fl">
		<a href="{{ i.link }}" target="_blank" class="black">
			<h2 class="f5 mb0 lh-title mw5 mt0 fw4">{{ i.title | jt_emdash | markdownify }}</h2>
		</a>
		{% if i.tag %}
		<p class="f5 mb0 lh-title tag mt1 black">#{{ i.tag }}</p>
		{% endif %}
		{% if i.price %}
		<p class="f5 mb0 lh-title tag mt1 black">{{ i.price }}</p>
		{% endif %}
	</div>

	<div class="v-top dib-ns db fr-ns fl mb3-ns mb2">
		{% for p in i.text %}
		<!-- <p class="measure lh-copy black-60">{{ p.p | markdownify }}</p> -->
		{{ p.p | markdownify }}
		{% endfor %}
	</div>

	{% if i.vimeo %}
		<div class="w-100 db mb3 cf">
		{% include vimeoPlayer.html id=i.vimeo %}
		</div>
	{% endif %}

	{% if i.youtube %}
		<div class="w-100 db mb3 cf">
		{% include youtubePlayer.html id=i.youtube %}
		</div>
	{% endif %}

	{% if i.photo %}
		{% for img in i.photo %}
		<img src="/images/this/{{ img.img }}" class="w-100 db mb3">
		{% endfor %}
	{% endif %}

</div>
{% endfor %}
