{% for i in site.data.this.[page.thisID].item %}
<div class="w-100 db mb3 cf">
	<div class="v-top dib-ns db fl">
		<a href="{{ i.link }}" target="_blank" class="black-70 hover-black-60">
			<h2 class="f4-ns f5 mb1 lh-title mw5">{{ i.title | jt_emdash}}</h2>
		</a>
		<p class="f6 mb0 lh-title black-40 mt1">#{{ i.tag }}</p>
	</div>

	<div class="v-top dib-ns db fr-ns fl mb3-ns mb2">
		{% for p in i.text %}
		<!-- <p class="measure lh-copy black-60">{{ p.p | markdownify }}</p> -->
		{{ p.p | markdownify }}
		{% endfor %}
	</div>

	{% if i.vimeo %}
		<div class="w-100 db mb3 cf">
		{% include vimeoPlayer.html id=i.vimeo %}
		</div>
	{% endif %}

	{% if i.youtube %}
		<div class="w-100 db mb3 cf">
		{% include youtubePlayer.html id=i.youtube %}
		</div>
	{% endif %}

	{% if i.photo %}
		{% for img in i.photo %}
		<img src="/images/this/{{ img.img }}" class="w-100 db mb3">
		{% endfor %}
	{% endif %}

</div>
{% endfor %}
