<div class="" itemscope itemtype="http://schema.org/BlogPosting">

	<div class="db mb0 mt3 bb bt pv2 fw4">
		<a href="{{include.myPost.url}}" class="black f5 link"><span itemprop="datePublished">{{include.myPost.date | date: "%-d %B %Y"}}</span></span> 
			<span class="">/</span>
		<a href="{{site.baseurl}}/categories/#{{include.myPost.categories}}" class="ttl black f5 link">#{{include.myPost.categories}}</a></span></a>
	</div>

	<h1 class="f2-ns f3 fw5 lh-solid bb bw1 pv2 mt0 mb2" itemprop="name headline" style="letter-spacing: -0.02rem;">
		{{include.myPost.title | widont}}
	</h1>

<!-- 	<h2 class="f3 fw5">
		{{include.myPost.subtitle | widont}}
	</h2> -->

</div>