<div class="" itemscope itemtype="http://schema.org/BlogPosting">

	{% if include.myPost.date %}
	<div class="db mb0 mt3 pt2 pb1 fw4">
		<a href="{{include.myPost.url}}" class="black f5 link"><span itemprop="datePublished">{{include.myPost.date | date: "%-d %B %Y"}}</span></span></a>
			
		<!-- <a href="{{site.baseurl}}/categories/#{{include.myPost.categories}}" class="ttl black f5 link">#{{include.myPost.categories}}</a></span></a> -->
		<span class="ttl black f5 link">/ #{{include.myPost.categories}}</span>
	</div>
	{% endif %}

	
	<h1 class="f3 fw4 lh-title pv2 mt0 bb" itemprop="name headline" style="letter-spacing: -0.01rem;">
		{% if include.myPost.title %}
		{{include.myPost.title | widont}}

		{% else %}
		{{page.title | widont}}
		{% endif %}
	</h1>

</div>