---
layout: default
---

{% include title_bar.html %}
{{ content }}

<script type="text/javascript">
	$(function() {
	  $('.archiveTitle').on('mouseenter', function() {
	  	// var url = $(this).data('image-url');
	  	$this = $(this);
        var image = $this.data('image-url');
        var imageUrl = 'url(' + image + ')';
	    // $('#tv').attr("src",url);
	    $('#tv').css("background-image", imageUrl);
        $('#tv img').attr("src", image);
	  });

	  $('.archiveWrapper').on('mouseleave', function() {
        // $('#tv').attr("src","");
        $('#tv').css("background-image", "");
        $('#tv img').attr("src", "");

	  });

	});
</script>